<div id="mainPanelContainer{{uniqueId}}" class="row-fluid record-panel"
    data-panelName="partyGeneralInfo{{agentType}}-{{partyName}}" {{#ifNotEquals agentType "Associates"}}
    style="border-top:solid 1px;border-left:solid 1px" {{/ifNotEquals}}>
    <div {{#ifNotEquals agentType "Associates"}} class="row-fluid record-panel-header" {{else}} class="row-fluid"
        {{/ifNotEquals}}
        style="height:{{#ifNotEquals agentType "Associates"}}50{{else}}38{{/ifNotEquals}}px;margin-left:32px;">
        <h4 class="pull-left"
            style="font-size:
    {{#ifNotEquals agentType "Associates"}}20{{else}}16{{/ifNotEquals}}px;margin-top:{{#ifNotEquals agentType "Associates" }}16{{else}}9{{/ifNotEquals}}px;">
            <a target="_blank" class="ellipsis_inline partyLink" data-placement="bottom" title=""
                style="white-space:normal;word-wrap:break-word;overflow:visible" href="#{{partyModule}}/{{partyId}}">
                {{partyName}} </a>
        </h4>
        <div class="pull-right" style="margin-top:
    {{#ifNotEquals agentType "Associates"}}9{{else}}3 {{/ifNotEquals}}px;">
            <button class="btn btn-invisible record-panel-arrow">
                <i id="chevronIcon{{uniqueId}}" class="fa fa-chevron-up" rel="tooltip" data-container="body"
                    data-title="Toggle Visibility"></i>
            </button>
        </div>
    </div>
    {{#ifNotEquals agentType "Associates"}}
        <div id="record-panel-content{{uniqueId}}" class="row-fluid record-panel-content"
            style="padding: 10px 0px 0px 00px;border-left: solid 30px gainsboro;">
            {{#each generalInfo}}
                <div class="row-fluid panel_body partyGeneralInfo{{../agentType}}-{{../partyName}}">
                    {{#each this}}
                        <div class="span4 record-cell" data-type="{{type}}" data-name="{{name}}">
                            <div class="record-label" data-name="{{name}}">
                                {{str vname ../../partyModule}}
                            </div>
                            {{#if name}}
                                <span class="normal{{#if css}} {{css}}{{/if}} index{{index}}" data-fieldname="{{name}}"
                                    data-index="{{index}}">
                                    {{field ../../../this model=../../../this.agentModel template="detail"}}
                                </span>
                            {{/if}}
                        </div>
                    {{/each}}
                </div>
            {{/each}}
            <div id="relatedPartiesContainer{{uniqueId}}"></div>
        </div>
    {{/ifNotEquals}}
</div>