<table id='{{cUUID}}' width="100%" border="0" cellpadding="0" cellspacing="0" class='reportGroupViewTable wReportTable'>
    <tbody>
        <tr>
            <td>
                <table width="100%" border="0" cellpadding="0" cellspacing="0" class="reportGroupNByTable">
                    <tbody>
                        <tr height="20">             
                            <th align="left" class="reportGroup1ByTableEvenListRowS1 {{tableToCollapseId}}" valign="middle" nowrap="" style="background-color: #f6f6f6;border-style:solid;border-color:#e9e9e9; height:30px; border-width: 1px;border-bottom-style: none;">
                                <span id="img_combo_summary_div_0" style="float:left; margin-left:{{spaces}}px;">
                                    <a id="expandColapseButton" name="{{tableToCollapseId}}">
                                        {{#if showSummary}}
                                            <img width="8" height="8" border="0" absmiddle="" alt="Show" src="themes/default/images/basic_search.gif?v=NDZq21b7_V0TWvcCY4J40w">
                                        {{else}}
                                            <img width="8" height="8" border="0" absmiddle="" alt="Show" src="themes/default/images/advanced_search.gif?v=NDZq21b7_V0TWvcCY4J40">
                                        {{/if}}
                                    </a>
                                </span>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr class='group-line' id="{{tableToCollapseId}}">
            <td class='group-data'>

            </td>
        </tr>
    </tbody>
</table>
